.vscode/settings.json
uqtools/__pycache__/__init__.cpython-36.pyc
uqtools/__pycache__/__init__.cpython-36.pyc
uqtools/__pycache__/__init__.cpython-37.pyc
uqtools/__pycache__/__init__.cpython-38.pyc
uqtools/__pycache__/apply.cpython-36.pyc
uqtools/__pycache__/apply.cpython-37.pyc
uqtools/__pycache__/awg.cpython-36.pyc
uqtools/__pycache__/awg.cpython-37.pyc
uqtools/__pycache__/basics.cpython-36.pyc
uqtools/__pycache__/basics.cpython-37.pyc
uqtools/__pycache__/calibrate.cpython-36.pyc
uqtools/__pycache__/calibrate.cpython-37.pyc
uqtools/__pycache__/config.cpython-36.pyc
uqtools/__pycache__/config.cpython-37.pyc
uqtools/__pycache__/config.cpython-38.pyc
uqtools/__pycache__/context.cpython-36.pyc
uqtools/__pycache__/context.cpython-37.pyc
uqtools/__pycache__/control.cpython-36.pyc
uqtools/__pycache__/control.cpython-37.pyc
uqtools/__pycache__/fpga.cpython-36.pyc
uqtools/__pycache__/fpga.cpython-37.pyc
uqtools/__pycache__/fsv.cpython-36.pyc
uqtools/__pycache__/fsv.cpython-37.pyc
uqtools/__pycache__/helpers.cpython-36.pyc
uqtools/__pycache__/helpers.cpython-37.pyc
uqtools/__pycache__/measurement.cpython-36.pyc
uqtools/__pycache__/measurement.cpython-37.pyc
uqtools/__pycache__/pandas.cpython-36.pyc
uqtools/__pycache__/pandas.cpython-37.pyc
uqtools/__pycache__/parameter.cpython-36.pyc
uqtools/__pycache__/parameter.cpython-37.pyc
uqtools/__pycache__/parameter.cpython-38.pyc
uqtools/__pycache__/plot.cpython-36.pyc
uqtools/__pycache__/plot.cpython-37.pyc
uqtools/__pycache__/progress.cpython-36.pyc
uqtools/__pycache__/progress.cpython-37.pyc
uqtools/__pycache__/qtlab.cpython-36.pyc
uqtools/__pycache__/qtlab.cpython-37.pyc
uqtools/__pycache__/store.cpython-36.pyc
uqtools/__pycache__/store.cpython-37.pyc
uqtools/__pycache__/widgets.cpython-36.pyc
uqtools/__pycache__/widgets.cpython-37.pyc
uqtools/tests/__pycache__/__init__.cpython-36.pyc
uqtools/tests/__pycache__/__init__.cpython-37.pyc
uqtools/tests/__pycache__/conftest.cpython-36-pytest-5.4.1.pyc
uqtools/tests/__pycache__/conftest.cpython-37-pytest-5.4.1.pyc
uqtools/tests/__pycache__/conftest.cpython-37-PYTEST.pyc
uqtools/tests/__pycache__/lib.cpython-36.pyc
uqtools/tests/__pycache__/lib.cpython-37.pyc
uqtools/tests/__pycache__/test_apply.cpython-36-pytest-5.4.1.pyc
uqtools/tests/__pycache__/test_apply.cpython-37-pytest-5.4.1.pyc
uqtools/tests/__pycache__/test_apply.cpython-37-PYTEST.pyc
uqtools/tests/__pycache__/test_awg.cpython-36-pytest-5.4.1.pyc
uqtools/tests/__pycache__/test_awg.cpython-37-pytest-5.4.1.pyc
uqtools/tests/__pycache__/test_awg.cpython-37-PYTEST.pyc
uqtools/tests/__pycache__/test_basics.cpython-36-pytest-5.4.1.pyc
uqtools/tests/__pycache__/test_basics.cpython-37-pytest-5.4.1.pyc
uqtools/tests/__pycache__/test_basics.cpython-37-PYTEST.pyc
uqtools/tests/__pycache__/test_buffer.cpython-36-pytest-5.4.1.pyc
uqtools/tests/__pycache__/test_buffer.cpython-37-pytest-5.4.1.pyc
uqtools/tests/__pycache__/test_buffer.cpython-37-PYTEST.pyc
uqtools/tests/__pycache__/test_calibrate.cpython-36-pytest-5.4.1.pyc
uqtools/tests/__pycache__/test_calibrate.cpython-37-pytest-5.4.1.pyc
uqtools/tests/__pycache__/test_calibrate.cpython-37-PYTEST.pyc
uqtools/tests/__pycache__/test_context.cpython-36-pytest-5.4.1.pyc
uqtools/tests/__pycache__/test_context.cpython-37-pytest-5.4.1.pyc
uqtools/tests/__pycache__/test_context.cpython-37-PYTEST.pyc
uqtools/tests/__pycache__/test_helpers.cpython-36-pytest-5.4.1.pyc
uqtools/tests/__pycache__/test_helpers.cpython-37-pytest-5.4.1.pyc
uqtools/tests/__pycache__/test_helpers.cpython-37-PYTEST.pyc
uqtools/tests/__pycache__/test_lib.cpython-36-pytest-5.4.1.pyc
uqtools/tests/__pycache__/test_lib.cpython-37-pytest-5.4.1.pyc
uqtools/tests/__pycache__/test_lib.cpython-37-PYTEST.pyc
uqtools/tests/__pycache__/test_measurement.cpython-36-pytest-5.4.1.pyc
uqtools/tests/__pycache__/test_measurement.cpython-37-pytest-5.4.1.pyc
uqtools/tests/__pycache__/test_measurement.cpython-37-PYTEST.pyc
uqtools/tests/__pycache__/test_pandas.cpython-36-pytest-5.4.1.pyc
uqtools/tests/__pycache__/test_pandas.cpython-37-pytest-5.4.1.pyc
uqtools/tests/__pycache__/test_pandas.cpython-37-PYTEST.pyc
uqtools/tests/__pycache__/test_parameter.cpython-36-pytest-5.4.1.pyc
uqtools/tests/__pycache__/test_parameter.cpython-37-pytest-5.4.1.pyc
uqtools/tests/__pycache__/test_parameter.cpython-37-PYTEST.pyc
uqtools/tests/__pycache__/test_progress.cpython-36-pytest-5.4.1.pyc
uqtools/tests/__pycache__/test_progress.cpython-37-pytest-5.4.1.pyc
uqtools/tests/__pycache__/test_progress.cpython-37-PYTEST.pyc
uqtools/tests/__pycache__/test_store.cpython-36-pytest-5.4.1.pyc
uqtools/tests/__pycache__/test_store.cpython-37-pytest-5.4.1.pyc
uqtools/tests/__pycache__/test_store.cpython-37-PYTEST.pyc
.pytest_cache/v/cache/lastfailed
.pytest_cache/v/cache/nodeids
.pytest_cache/v/cache/stepwise
.gitignore
